<form method="post" action="{{ path('app_chapitre_delete', {'idChapitre': chapitre.idChapitre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chapitre.idChapitre) }}">
    <button class="btn btn-inverse-secondary">Delete</button>
</form>
