{% extends 'base-back.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <h1 class="ayout">Modifier ce Service</h1>
    <style>
        .ayout{text-align:center}
        .ayout{color: #0d3057}
    </style>
    {{ include('service/_formedit.html.twig') }}



{% endblock %}
