{% extends 'base-back.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1 class="boty">Ajouter un  nouveau Service</h1>
    <style>
        .boty{text-align:center}
        .boty{color: #0d3057}
    </style>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('service/_form.html.twig') }}


{% endblock %}
