{% extends 'base_back_kais.html.twig' %}

{% block title %}Modifier Categorie{% endblock %}

{% block body %}

    {{ include('categoriearticle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categoriearticle_index_back') }}">back to list</a>

    {{ include('categoriearticle/_delete_form_back.html.twig') }}
{% endblock %}
