{% extends 'base-back.html.twig' %}

{% block title %}Edit Categorieservice{% endblock %}

{% block body %}
    <h1 class="mm">Modifier  Categorie Service</h1>
    <style>
        .mm{text-align:center}
        .mm{color: #0d3057}
    </style>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('categorieservice/_form.html.twig', {'button_label': 'Update'}) }}

    <div> <button class="btn btn-outline-danger">Supprimer</button> </div>

    {{ include('categorieservice/_delete_form.html.twig') }}
{% endblock %}
