{% extends 'base-back.html.twig' %}

{% block title %}New Categorieservice{% endblock %}

{% block body %}
    <h1 class="bb" >  {{ 'Create  Categorie service '|trans|raw }}</h1>
    <style>
        .bb{text-align:center}
        .bb{color: #0d3057}
    </style>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('categorieservice/_form.html.twig') }}



{% endblock %}
