{% extends 'base-backmodifutil.html.twig' %}

{% block title %}Nouveau Prestateur{% endblock %}

{% block body %}

    <h1 class="text-center" style="color: #0d3057">{{ 'Ajouter un Prestateur'|trans|raw  }}</h1>


    {{ include('utilisateur/_formp.html.twig') }}


{% endblock %}