{% extends 'base-backmodifutil.html.twig' %}

{% block title %}Nouveau Demandeur{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: #0d3057">{{ 'Ajouter un Demandeur'|trans|raw  }}</h1>

    {{ include('utilisateur/_formd.html.twig') }}


{% endblock %}