{% extends 'base-Front-Login2util.html.twig' %}

{% block title %} Mail {% endblock %}

{% block body %}
    <div class="text-center">
    <h1>{{ 'Mail envoyé !'|trans|raw }}</h1>
        {{'Un email est envoyé à votre adresse mail.
        Consulter le pour avoir ton nouveau mot de passe !'|trans|raw }}
    </div>
{% endblock %}