{% extends 'base-Front-Login2util.html.twig' %}

{% block title %} Mail {% endblock %}

{% block body %}
    <div class="text-center">
        <h1>{{'Message envoyé !'|trans|raw }}</h1>
        {{'Un message est envoyé à votre numéro de téléphone.
        Consulter le pour avoir ton nouveau mot de passe !'|trans|raw }}
    </div>
{% endblock %}