<h1 class="text-center">  Ramcha.tn </h1>

<p>
    Bienvenu <strong>{{ username }}</strong> !
</p>
<p> Pour activer votre compte de Ramcha : <strong> <code>{{ email}}</code></strong></p>
<p> Votre code de confirmation est  <strong>{{ str }}</strong></p>
<br>
<br>
<h3> Equipe Ramcha.tn Vous remercie pour votre confiance </h3>
<br>
<a href="{{ path('nn') }}"><h3>Ramcha.tn</h3></a>
<h4>à votre service en un clin d'oeil !</h4>

<br>
<br>
<div class="text-right">
    Tunis, Ariana <br>
    Hay ghazella, 8952<br>
    <br>
    Téléphone: +216 98 558 669<br>
    Email: Ramcha@gmail.com
</div>
