{% extends 'base-frontcours.html.twig' %}

{% block title %}Edit Aviscours{% endblock %}

{% block body %}
    <h1>Edit Aviscours</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('aviscours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_aviscours_index') }}">back to list</a>

    {{ include('aviscours/_delete_form.html.twig') }}
{% endblock %}
