<form method="post" action="{{ path('app_devisservice_delete', {'iddevisservice': devisservice.iddevisservice}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devisservice.iddevisservice) }}">
    <button class="btn">Delete</button>
</form>
