{% extends 'base.html.twig' %}

{% block title %}New Devisservice{% endblock %}

{% block body %}
    <h1>Create new Devisservice</h1>

    {{ include('devisservice/_form.html.twig') }}

    <a href="{{ path('app_devisservice_index') }}">back to list</a>
{% endblock %}
